run = "clear && LD_PRELOAD=\"\" && mcs src/*.cs -out:obrya.exe && mkbundle --fetch-target mono-6.8.0-osx-10.9-x64 && mkbundle --no-machine-config --cross mono-6.8.0-osx-10.9-x64 --no-config obrya.exe --simple -o obrya.bin && mkbundle --no-machine-config --no-config obrya.exe --simple -o obrya && rm -f temp.* && clear && ./obrya main.oba"